* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
.heading {
  height: 60px;
  width: 100%;
  background-color: #28ff28;
  border: 2px solid purple;
}
.heading ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 8px;
}
.heading ul li {
  padding: 10px;
  background-color: burlywood;
}
a {
  text-decoration: none;
}
section {
  height: 100vh;
  width: 100%;
  background-color: #1afd9c;
  border-left: 2px solid purple;
  border-right: 2px solid purple;
  border-bottom: 2px solid purple;
}
